<div class="jumbotron text-center">
        <h1>Angular Study</h1>         
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3><a routerLink="/signup">Signup</a></h3>
            <!-- <p>forms, component interaction</p> -->
          </div>
          <div class="col-sm-4">
            <h3><a routerLink="/user">Users</a></h3>
            <!-- <p>Datattable,services</p> -->
          </div>
          <div class="col-sm-4">
            <h3><a routerLink="/expertise">Expertise</a></h3> 
            <!-- <p>sending data to child component using input decorator</p> -->
          </div>
        </div>
      </div>

